[package]
name = "rust"
version = "0.1.0"
edition = "2021"

[lib]
crate-type = ["cdylib", "staticlib"]

[dependencies]
uniffi = { version = "0.30.0" }
uuid = { version = "1.19.0", features = ["v4"] }
padauk = { path = "../../../Padauk/padauk/padauk" }
